
<!--▼ナビゲーションバー-->
<div class="Navigationbar">
  <div class="gridContainer clearfix">
  <!--▼ボタン（PC表示時のナビボタン）--> 
   <div class="navi_button_set">
    <div class="navi_button"><a href="index.html">HOME</a></div>
    <div class="navi_button"><a href="#">ナビボタン2</a></div>
    <div class="navi_button"><a href="#">ナビボタン3</a></div>
    <div class="navi_button"><a href="#">ナビボタン4</a></div>
    <div class="navi_button"><a href="#">ナビボタン5</a></div>
    <div class="navi_button"><a href="#">ナビボタン6</a></div>
   </div>
  <!--▲ボタン（PC表示時のナビボタン）-->
  
<!--▼スライドメニュー-->
<div class="S_menu">
<div class="home_link"><a href="index.html"><i class="fa fa-home"></i></a></div>
<div class="sider_menu"><a class="drawer" href="#sidr">MENU ▶</a></div>
<div style="clear:both"></div>   
  <div id="sidr-right">
  <ul style="margin-top:30px">
  <!--▼ボタン（タブレット・スマホ表示時のナビボタン）--> 
    <li><a href="index.html">HOME</a></li>
    <li><a href="#">ナビボタン2</a></li>
    <li><a href="#">ナビボタン3</a></li>
    <li><a href="#">ナビボタン4</a></li>
    <li><a href="#">ナビボタン5</a></li>
    <li><a href="#">ナビボタン6</a></li>
  <!--▲ボタン（タブレット・スマホ表示時のナビボタン）-->

   <li><a class="drawer" href="#sidr" tyle="font-size:90%;">◀ CLOSE</a></li>

  </ul>
  </div>

</div>
<!--▲スライドメニュー--> 
  
  </div>
</div>
<!--▲ナビゲーションバー-->
