<!--▼ページトップエリア-->
<div id="top_area" class="fluid">
    <div class="top_bar">
        <div class="gridContainer clearfix">
            <div>
                <h1 class="h1_TXT">Welcome to erohotel.jp</h1></div>
        </div>
    </div>
    <div class="logo_area">
        <div class="gridContainer clearfix">
            <!--ロゴ ▶-->
            <div class="logo_sec">
                <a ng-href="index.html"><img src="img/logo.png" alt="welcome to ero hotel" /></a>
            </div>
            <!--◀ ロゴ-->
        </div>
    </div>
</div>
<div style="clear: both"></div>
<!--▲ページトップエリア-->
